@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --green:#0d9979;
}

*{
  
  
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37,1.14,.26,1.24);
  
}

*::selection{
    background:var(--green);
    color:#fff;
}

html{
    font-size: 50%;
    overflow-x: hidden;
  }

  

/* Add a background color and some padding to the bod*/
body{
  padding:0;
  margin:0;
  height: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  background-image: linear-gradient( #C79FFF, #A1B8FE);
}

/* Style the heading with a different font and color */
.heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;

  color: #fff9ff;
}

/* Style the form controls */
.forms  {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:20px;
  font-size: 2rem;
  margin-bottom: 20px;
  font-color : #e8e8e8;
}


.b1 {
  float:left;
  width:50px;
  font-size: 10px;
  background-color : #370140;
  border-color : #370140;
  color : #370140 ; 
}
.b2{
  width:50px;
  font-size: 10px;
  background-color : #370140;
  border-color : #370140;
  color : #370140 ;
}
.buttons{
  width:50px;
  background-color : #370140;
  border-color : #370140;
  colour : #346472;

}

.card {
  background-color: #f7f7f7;  
  border: 1px solid #ddd;
  border-radius: 8px;
  font-color : #e8e8e8;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}


.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
.forms label ,  
.forms input
,  
.forms textarea{
  color: gray;
}

.heading1{
  font-size: 3rem;
}
.data{
  
  font-size: 2rem;
}